# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
dagger-client/vendor
dagger-server/vendor
dagger-server/dagger-server
dagger-client/dagger-client
dagger-client-http/vendor
dagger-client/.vscode
dagger-client/dagger-client.debug
dagger-client-http/dagger-client
dagger-client-http/.vscode/
dagger-client-http/dagger-client-http
dagger-mac/build/release.xcarchive
dagger-mac/build/release
dagger-mac/build/dagger.app
*.dmg
dagger-server/logs
dagger-server/tmp
dagger-server/data
dagger-server/dagger
dagger-server/custom

dagger/.*.sh
tmp
